<form name="form" class="div-total">
    <div class="div-size" ng-hide="saveInProgress">
        <div class="subdiv-size-field">
            <span class="keytext text-large">{{ fieldName }}:</span>
        </div>
        <!-- OLD PASSWORD -->
        <div class="subdiv-size-input" ng-click="enableEditor()" ng-hide="view.editorEnabled">
            <span class="boldtext text-large">{{ value.fake_robotpassword }}</span>
            <img ng-src="img/header/edit_24.png" />
            <img ng-show="saveSucceeded" width=40 src="img/checked120green.png">
        </div>
        <div class="subdiv-size-input" ng-show="view.editorEnabled">
            <input type="password"
                   name="old_robotpassword"
                   class="classic-input"
                   ng-model="view.editableValue.old_robotpassword"
                   required
                   robot-password-verify
            />
            <img ng-show="form.old_robotpassword.waitValidation" width=40 src="img/load-120px.gif">
            <div ng-show="
            !form.old_robotpassword.waitValidation &&
             !form.old_robotpassword.$pristine &&
            !form.old_robotpassword.hasFocus &&
            form.old_robotpassword.hasVisited &&
            (form.old_robotpassword.$error.required || form.old_robotpassword.$error.robotPasswordVerify)"
                 class="invalid-fields">*</div>
        </div>
    </div>
    <!-- ERROR OLD PASSWORD -->
    <div class="div-total" ng-show="!saveInProgress && view.editorEnabled">
        <div class="invalid-fields classic text-block padding"
             ng-show="
            !form.old_robotpassword.waitValidation &&
             !form.old_robotpassword.$pristine &&
            !form.old_robotpassword.hasFocus &&
            form.old_robotpassword.hasVisited &&
             form.old_robotpassword.$error.required"
        >* {{ 'MES_FIELD_REQUIRED' | translate }}</div>
        <div class="invalid-fields classic text-block padding"
             ng-show="
            !form.old_robotpassword.waitValidation &&
             !form.old_robotpassword.$pristine &&
            !form.old_robotpassword.hasFocus &&
            form.old_robotpassword.hasVisited &&
             form.old_robotpassword.$error.robotPasswordVerify"
        >* {{ 'MES_WRONG_PASSWORD' | translate }}</div>
    </div>
    <!-- NEW PASSWORD -->
    <div class="div-size" ng-show="!saveInProgress && view.editorEnabled">
        <div class="subdiv-size-field">
            <span class="keytext text-large">{{ "FIELD_NEW_ROBOT_PASS" | translate }}:</span>
        </div>
        <div class="subdiv-size-input" ng-show="view.editorEnabled">
            <input type="password"
                   name="new_robotpassword"
                   class="classic-input"
                   ng-model="view.editableValue.new_robotpassword"
                   required
            />
            <div ng-show="
             !form.new_robotpassword.$pristine &&
            !form.new_robotpassword.hasFocus &&
            form.new_robotpassword.hasVisited &&
            form.new_robotpassword.$error.required"
                 class="invalid-fields">*</div>
        </div>
    </div>
    <!-- ERROR NEW PASSWORD -->
    <div class="div-total" ng-show="!saveInProgress && view.editorEnabled">
        <div class="invalid-fields classic text-block padding"
             ng-show="
             !form.new_robotpassword.$pristine &&
            !form.new_robotpassword.hasFocus &&
            form.new_robotpassword.hasVisited &&
             form.new_robotpassword.$error.required"
        >* {{ 'MES_FIELD_REQUIRED' | translate }}</div>
    </div>
    <!-- CONFIRM PASSWORD -->
    <div class="div-size" ng-show="!saveInProgress && view.editorEnabled">
        <div class="subdiv-size-field">
            <span class="keytext text-large">{{ "FIELD_NEW_ROBOT_PASS_2" | translate }}:</span>
        </div>
        <div class="subdiv-size-input" ng-show="view.editorEnabled">
            <input type="password"
                   name="confirm_robotpassword"
                   class="classic-input"
                   ng-enter="form.old_robotpassword.$invalid ||
                   form.new_robotpassword.$invalid ||
                   form.confirm_robotpassword.$invalid ||
                   save()"
                   ng-escape="disableEditor(true)"
                   ng-model="view.editableValue.confirm_robotpassword"
                   required
                   data-password-verify="view.editableValue.new_robotpassword"
            />
            <div ng-show="
             !form.confirm_robotpassword.$pristine &&
            !form.confirm_robotpassword.hasFocus &&
            form.confirm_robotpassword.hasVisited &&
            (form.confirm_robotpassword.$error.required ||
            form.confirm_robotpassword.$error.passwordVerify)"
                 class="invalid-fields">*</div>
        </div>
    </div>
    <!-- ERROR CONFIRM PASSWORD -->
    <div class="div-total" ng-show="!saveInProgress && view.editorEnabled">
        <div class="invalid-fields classic text-block padding"
             ng-show="
             !form.confirm_robotpassword.$pristine &&
            !form.confirm_robotpassword.hasFocus &&
            form.confirm_robotpassword.hasVisited &&
             form.confirm_robotpassword.$error.required"
        >* {{ 'MES_FIELD_REQUIRED' | translate }}</div>
        <div class="invalid-fields classic text-block padding"
             ng-show="
             !form.confirm_robotpassword.$pristine &&
            !form.confirm_robotpassword.hasFocus &&
            form.confirm_robotpassword.hasVisited &&
             form.confirm_robotpassword.$error.passwordVerify"
        >* {{ 'MES_FIELDS_NOT_EQUAL' | translate }}</div>
        <br>
    </div>
    <div class="div-size" ng-show="!saveInProgress && view.editorEnabled">
        <div class="subdiv-size-field"></div>
        <div class="subdiv-size-input" >
            <div class="small-button inverse"
                 ng-click="disableEditor(true)"
            >{{ "BTN_CANCEL" | translate }}</div>
            <div class="small-button right"
                 ng-click="
                 form.old_robotpassword.waitValidation ||
                 form.old_robotpassword.$invalid ||
                 form.new_robotpassword.$invalid ||
                 form.confirm_robotpassword.$invalid ||
                 save()"
            >{{ "BTN_OK" | translate }}</div>
        </div>
    </div>
    <div class ="div-total" style="text-align: center;" ng-show="saveInProgress" ng-include="'partials/shared/loader.html'"></div>
</form>